<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="w-full max-w-2xl mx-auto p-8">
  <div *ngIf="page === 0" class="bg-white rounded-lg shadow-lg p-6 w-full">
    <h2 class="text-4xl font-medium mb-10">Pay with credit card</h2>
    <credit-card
      [cardNumber]="cardNumber"
      [cardHolderFirstName]="cardHolderFirstName"
      [cardHolderLastName]="cardHolderLastName"
      [cardExpirationDate]="cardExpirationDate"
      [cardCVV]="cardCVV"
      [focusedName]="getFocusedName"
    ></credit-card>
    <form
      class="mt-10"
      [formGroup]="cardForm"
      (ngSubmit)="submitForm()"
      validate
    >
      <div class="flex gap-6">
        <div class="flex-2">
          <label
            for="card-number"
            class="block text-sm font-medium text-gray-700 mb-2"
            [ngClass]="[
              !submitHistoryFlag
                ? 'text-black-700 dark:text-black-500'
                : cardForm.controls['number'].errors !== null
                ? 'text-red-700 dark:text-red-500'
                : 'text-green-700 dark:text-green-500'
            ]"
            >Credit Card Number</label
          >
          <input
            type="text"
            name="card-number"
            id="card-number"
            placeholder="XXXX XXXX XXXX XXXX"
            class="w-full py-3 px-4 border border-gray-400 rounded-lg focus:outline-none focus:border-blue-500"
            data-test-id="number-input"
            autocomplete="off"
            formControlName="number"
            [ngClass]="[
              !submitHistoryFlag
                ? 'bg-black-50 border-black-500 text-black-900 placeholder-black-700 focus:ring-black-500 focus:border-black-500 dark:bg-black-100 dark:border-black-400'
                : cardForm.controls['number'].errors !== null
                ? 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:bg-red-100 dark:border-red-400'
                : 'bg-green-50 border-green-500 text-green-900 placeholder-green-700 focus:ring-green-500 focus:border-green-500 dark:bg-green-100 dark:border-green-400'
            ]"
            (focus)="focusProcess('number')"
            (focusout)="focusProcess('')"
          />
        </div>
        <div class="flex-1">
          <label
            for="expiration-date"
            class="block text-sm font-medium text-gray-700 mb-2"
            [ngClass]="[
              !submitHistoryFlag
                ? 'text-black-700 dark:text-black-500'
                : cardForm.controls['expirationDate'].errors !== null
                ? 'text-red-700 dark:text-red-500'
                : 'text-green-700 dark:text-green-500'
            ]"
            >Expiration Date</label
          >
          <input
            type="text"
            name="expiration-date"
            id="expiration-date"
            placeholder="XX / XX"
            class="w-full py-3 px-4 border border-gray-400 rounded-lg focus:outline-none focus:border-blue-500"
            formControlName="expirationDate"
            data-test-id="expiry-input"
            autocomplete="off"
            [ngClass]="[
              !submitHistoryFlag
                ? 'bg-black-50 border-black-500 text-black-900 placeholder-black-700 focus:ring-black-500 focus:border-black-500 dark:bg-black-100 dark:border-black-400'
                : cardForm.controls['expirationDate'].errors !== null
                ? 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:bg-red-100 dark:border-red-400'
                : 'bg-green-50 border-green-500 text-green-900 placeholder-green-700 focus:ring-green-500 focus:border-green-500 dark:bg-green-100 dark:border-green-400'
            ]"
            (focus)="focusProcess('expiration-date')"
            (focusout)="focusProcess('')"
          />
        </div>
        <div class="flex-1">
          <label
            for="cvv"
            class="block text-sm font-medium text-gray-700 mb-2"
            [ngClass]="[
              !submitHistoryFlag
                ? 'text-black-700 dark:text-black-500'
                : cardForm.controls['cvv'].errors !== null
                ? 'text-red-700 dark:text-red-500'
                : 'text-green-700 dark:text-green-500'
            ]"
            >CVV</label
          >
          <input
            type="text"
            name="cvv"
            id="cvv"
            placeholder="XXX"
            class="w-full py-3 px-4 border border-gray-400 rounded-lg focus:outline-none focus:border-blue-500"
            formControlName="cvv"
            autocomplete="off"
            data-test-id="cvv-input"
            [ngClass]="[
              !submitHistoryFlag
                ? 'bg-black-50 border-black-500 text-black-900 placeholder-black-700 focus:ring-black-500 focus:border-black-500 dark:bg-black-100 dark:border-black-400'
                : cardForm.controls['cvv'].errors !== null
                ? 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:bg-red-100 dark:border-red-400'
                : 'bg-green-50 border-green-500 text-green-900 placeholder-green-700 focus:ring-green-500 focus:border-green-500 dark:bg-green-100 dark:border-green-400'
            ]"
            (focus)="focusProcess('cvv')"
            (focusout)="focusProcess('')"
          />
        </div>
      </div>
      <div class="flex gap-6 mt-5">
        <div class="flex-1">
          <label
            for="card-holder-first"
            class="block text-sm font-medium text-gray-700 mb-2"
            [ngClass]="[
              !submitHistoryFlag
                ? 'text-black-700 dark:text-black-500'
                : cardForm.controls['firstName'].errors !== null
                ? 'text-red-700 dark:text-red-500'
                : 'text-green-700 dark:text-green-500'
            ]"
            >Cardholder's First Name</label
          >
          <input
            type="text"
            name="card-holder-first"
            id="card-holder-first"
            placeholder="First name"
            class="w-full py-3 px-4 border border-gray-400 rounded-lg focus:outline-none focus:border-blue-500"
            formControlName="firstName"
            autocomplete="off"
            data-test-id="first-name-input"
            [ngClass]="[
              !submitHistoryFlag
                ? 'bg-black-50 border-black-500 text-black-900 placeholder-black-700 focus:ring-black-500 focus:border-black-500 dark:bg-black-100 dark:border-black-400'
                : cardForm.controls['firstName'].errors !== null
                ? 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:bg-red-100 dark:border-red-400'
                : 'bg-green-50 border-green-500 text-green-900 placeholder-green-700 focus:ring-green-500 focus:border-green-500 dark:bg-green-100 dark:border-green-400'
            ]"
            (focus)="focusProcess('name')"
            (focusout)="focusProcess('')"
          />
        </div>
        <div class="flex-1">
          <label
            for="card-holder-last"
            class="block text-sm font-medium text-gray-700 mb-2"
            [ngClass]="[
              !submitHistoryFlag
                ? 'text-black-700 dark:text-black-500'
                : cardForm.controls['lastName'].errors !== null
                ? 'text-red-700 dark:text-red-500'
                : 'text-green-700 dark:text-green-500'
            ]"
            >Cardholdder's Last Name</label
          >
          <input
            type="text"
            name="card-holder-last"
            id="card-holder-last"
            placeholder="Last Name"
            class="w-full py-3 px-4 border border-gray-400 rounded-lg focus:outline-none focus:border-blue-500"
            formControlName="lastName"
            autocomplete="off"
            data-test-id="last-name-input"
            [ngClass]="[
              !submitHistoryFlag
                ? 'bg-black-50 border-black-500 text-black-900 placeholder-black-700 focus:ring-black-500 focus:border-black-500 dark:bg-black-100 dark:border-black-400'
                : cardForm.controls['lastName'].errors !== null
                ? 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:bg-red-100 dark:border-red-400'
                : 'bg-green-50 border-green-500 text-green-900 placeholder-green-700 focus:ring-green-500 focus:border-green-500 dark:bg-green-100 dark:border-green-400'
            ]"
            (focus)="focusProcess('name')"
            (focusout)="focusProcess('')"
          />
        </div>
        <div class="flex-1">
          <label
            for="billing-zipcode"
            class="block text-sm font-medium text-gray-700 mb-2"
            [ngClass]="[
              !submitHistoryFlag
                ? 'text-black-700 dark:text-black-500'
                : cardForm.controls['zipcode'].errors !== null
                ? 'text-red-700 dark:text-red-500'
                : 'text-green-700 dark:text-green-500'
            ]"
            >Billing Zip Code</label
          >
          <input
            type="text"
            name="billing-zipcode"
            id="billing-zipcode"
            placeholder="XXXXX"
            formControlName="zipcode"
            autocomplete="off"
            data-test-id="billing-zipcode-input"
            class="w-full py-3 px-4 border border-gray-400 rounded-lg focus:outline-none focus:border-blue-500"
            [ngClass]="[
              !submitHistoryFlag
                ? 'bg-black-50 border-black-500 text-black-900 placeholder-black-700 focus:ring-black-500 focus:border-black-500 dark:bg-black-100 dark:border-black-400'
                : cardForm.controls['zipcode'].errors !== null
                ? 'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:bg-red-100 dark:border-red-400'
                : 'bg-green-50 border-green-500 text-green-900 placeholder-green-700 focus:ring-green-500 focus:border-green-500 dark:bg-green-100 dark:border-green-400'
            ]"
          />
        </div>
      </div>
      <div class="mt-8">
        <button
          type="submit"
          class="w-full bg-green-500 hover:bg-blue-600 text-white font-medium py-3 rounded-lg focus:outline-none"
          data-test-id="submit-button"
        >
          <div *ngIf="!loading">Submit</div>
          <div role="status" *ngIf="loading">
            <svg
              aria-hidden="true"
              class="inline w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-green-500"
              viewBox="0 0 100 101"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor"
              />
              <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill"
              />
            </svg>
            <span class="sr-only">Loading...</span>
          </div>
        </button>
      </div>
    </form>
  </div>
  <app-success
    *ngIf="page === 1"
    (goBackEvent)="onGoBackClciked($event)"
    [paymentID]="payment.id"
  ></app-success>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
