<div class="credit-card-box">
  <div
    class="front"
    [ngClass]="
      focusedName !== undefined && focusedName
        ? 'brightness-50'
        : 'brightness-100'
    "
  >
    <div class="logo-red"></div>
    <div class="logo-yellow"></div>
  </div>
  <div
    class="back"
    [ngClass]="
      focusedName !== undefined && focusedName
        ? 'brightness-50'
        : 'brightness-100'
    "
  >
    <div class="block"></div>
  </div>
  <div
    class="card-number z-10"
    [ngClass]="
      focusedName === 'number'
        ? 'card-text-highlight-blue z-50'
        : focusedName !== undefined && focusedName
        ? 'brightness-50'
        : 'brightness-100'
    "
  >
    {{ cardNumber.slice(0, 19) }}
  </div>
  <div
    class="card-holder z-10"
    [ngClass]="
      focusedName !== undefined && focusedName
        ? focusedName !== 'name'
          ? 'brightness-50'
          : 'brightness-100'
        : 'brightness-100'
    "
  >
    <label [ngClass]="focusedName === 'name' ? 'card-text-highlight-blue' : ''"
      >{{ cardHolderFirstName }} {{ cardHolderLastName }}</label
    >
  </div>
  <div
    class="card-expiration-date z-10"
    [ngClass]="
      focusedName !== undefined && focusedName
        ? focusedName !== 'expiration-date'
          ? 'brightness-50'
          : 'brightness-100'
        : 'brightness-100'
    "
  >
    <label
      [ngClass]="
        focusedName === 'expiration-date' ? 'card-text-highlight-blue' : ''
      "
      >EXPIRY</label
    >
    <label
      [ngClass]="
        focusedName === 'expiration-date' ? 'card-text-highlight-blue' : ''
      "
      >{{ cardExpirationDate.slice(0, 2) }} /
      {{ cardExpirationDate.slice(3, 5) }}</label
    >
  </div>
  <div
    class="card-cvv"
    [ngClass]="
      focusedName !== undefined && focusedName
        ? focusedName !== 'cvv'
          ? 'brightness-50'
          : 'brightness-100'
        : 'brightness-100'
    "
  >
    <label [ngClass]="focusedName === 'cvv' ? 'card-text-highlight-red' : ''"
      >CVV</label
    >
    <label [ngClass]="focusedName === 'cvv' ? 'card-text-highlight-red' : ''">{{
      cardCVV
    }}</label>
  </div>
</div>
